<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>河北客运</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">


<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="index.html">河北客运</a>
                </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 th:text="${main.title}"></h1>
                            <p th:utext="${main.body}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="contact-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <button id="editArt" class="button">文章修改</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>

    </div>
</div>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/transition.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
