<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript">
        $(function () {
            console.log(result);
        })
    </script>
</head>
<body>
    <h1></h1>

    <table >
        <tr th:each="art:${article}" >
            <td th:text="${art.title}" style="border: #0e141b solid 1px"></td>
            <td th:text="${art.author}" style="border: #0e141b solid 1px"></td>
            <td th:text="${art.body}" style="border: #0e141b solid 1px"></td>
            <td th:text="${art.createTime}" style="border: #0e141b solid 1px"></td>
        </tr>
    </table>
</body>
</html>